{% extends 'niser_app/base.html' %}
{% load static %}

{% block head_ext %}
  <meta charset="utf-8">
  <link rel="stylesheet" href="{% static 'arc/css/sticky-footer.css' %}">
  <link rel="stylesheet" href="{% static 'arc/css/main.css' %}">
  {% block css %} {% endblock %}
  <title>{% block title %} {% endblock %} | NISER Archive</title>
{% endblock %}



{% block app_template %}
  <main class="container container-fluid">
    {% block alerts %} {% endblock %}
    {% block recom %} {% endblock %}
    <h3>{% block l3h %} {% endblock %}</h3>
    <h5>{% block l5h %} {% endblock %}</h5>
    {% block content %} {% endblock %}

  </main>

  <footer class="footer">
    <div class="container">
      <span class="text-muted">Coding Club | NISER, Bhubaneswar</span>
      <span class="float-right"><a id="faq-link" href="{% url 'faq' %}">FAQ</a></span>
    </div>
  </footer>
  <script src="{% static 'arc/js/main.js'%}"></script>
  {% block js %} {% endblock js %}
{% endblock app_template %}
