{% extends 'niser_app/base.html' %}
{% load static %}

{% block head_ext %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'listings/styles/style.css' %}">
    {% block head %}{% endblock head %}
    <title>
        {% block title %}{% endblock %} | NISER Listings
    </title>
{% endblock head_ext %}

{% block navitem %}
<form class="mx-4" action="{% url 'search' %}" method="GET">
    <input class="formCustom mx-2" type="search" name="query" placeholder="Search"
        style="height:fit-content;">
    <input class="btn btn-outline-success" type="submit" value="Search">
    <br>
    <p hidden>Sort by:
          <input type="radio" id="Relevance" name="sort_by" value="-rank" checked="checked">
          <label for="Relevance">Relevance</label>
    </p>
</form>
{% endblock navitem %}

{% block app_template %}
    <div class="container">{% include "my_user/messages.html" %}</div>

    {% block Search %}{% endblock %}


{% block content %}{% endblock content %}



    <!-- Footer -->
    <section id="footer">
        <div class="footer container">
            <h2>NISER Listings</h2>
            <a class="social git" href="https://github.com/sdgniser" title="Link to GitHub" target="_blank"><i class="fab fa-git-alt"></i></a>
            <a class="social mail" href="mailto:sdg@niser.ac.in" title="Mail Us" target="_blank"><i class="far fa-envelope"></i></a>
            <h2>Software Development Group</h2>
            <h3>National Institute of Science Education and Research</h3>
            <h4>Bhubaneswar, India</h4>
        </div>
    </section>
    <!-- End Footer -->

{% endblock app_template %}
